{% extends 'base.html' %} {% block content %}
<div class="detail__img">
  <img src="{{gym.img}}" alt="{{gym.name}}" />
</div>
<div class="detail__name">
  <div class="icon-text">
    <span class="icon has-text-info"> </span>
  </div>
  <h1 class="title">{{gym.name}}</h1>
</div>
<div class="detail__container">
  <div class="buttons">
    <a href="{% url 'gym_update' gym.pk %}" class="button is-info">
      <span class="icon">
        <i class="fas fa-edit"></i>
      </span>
    </a>
    <a href="{% url 'gym_delete' gym.pk %}" class="button is-danger">
      <span class="icon">
        <i class="fas fa-trash-alt"></i>
      </span>
    </a>
  </div>
  <div class="detail__skills mb-5">
    <h3 class="title is-3">Techniques Used</h3>
    <!-- new skills -->
    {% for skill in gym.skills.all %}
    <div class="skill">
      <span>{{forloop.counter}}</span>
      <span><b>{{skill.class_took}}</b></span>
      <span><b>{{skill.technique}}</b></span>
    </div>
    {% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Skills Added</p>
      </div>
    </article>
    {% endfor %}
  </div>

  <div class="detail__about">
    <h4 class="title is-4">Classes Avaliable</h4>
    <p>{{gym.classes}}</p>
  </div>
</div>

{% endblock %}
